<div class="jumbotron mt-4 shadow">
    <h1 class="display-4">
        <span class="text-success font-weight-bold">Sala de informatica UTS</span>
    </h1>
    <p class="lead text-secondary" 
    onmouseover="this.classList.remove('text-secondary'); this.classList.add('text-danger');" 
    onmouseout="this.classList.remove('text-danger'); this.classList.add('text-secondary');"
    >
    avril mia <span class="text-danger font-weight-bold">amor</span> estas en la pagina</p>
    <hr class="m-4">
    <p>La Sala de Informática de la UTS es un espacio equipado con modernas computadoras 
        y recursos tecnológicos destinados a facilitar el aprendizaje y desarrollo de habilidades
        en el campo de la informática. Esta sala cuenta con una amplia variedad de software especializado
        y acceso a Internet de alta velocidad, brindando a los estudiantes y profesores un entorno propicio
        para realizar investigaciones, realizar proyectos y practicar programación. Además, el personal
        especializado está disponible para brindar asistencia técnica y apoyo en el uso de las herramientas
        y recursos disponibles. La Sala de Informática UTS es un lugar clave para el desarrollo de competencias
        tecnológicas y promueve la formación integral de los estudiantes en el ámbito de la informática.</p>
    <hr class="m-4">

<a href="https://apirestdarkar.onrender.com/friends" class="btn btn-primary">Api de kamilo</a>

<hr>
<!-- Botón para abrir el modal -->
<button type="button" class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#miModal">Esto es lo que hay dentro de la API</button>

<!-- Modal -->
<div class="modal fade" id="miModal" tabindex="-1" aria-labelledby="miModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="miModalLabel">Ahora es mi api juas juas juas</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="p-3">
            [{"image":{"public_id":"friends/u6nrjwojhxsnyiws4oja",
            "secure_url":"https://res.cloudinary.com/dwk1rxq7g/
            image/upload/v1671944644/friends/u6nrjwojhxsnyiws4oja.png"},
            "_id":"63a7d9c41aa8ba2b77174dbb","name":"Zack Muñoz ",
            "lastname":"Castellanos","age":15,"hobbies":"play video games,
             watching movies","createdAt":"2022-12-25T05:04:05.119Z",
             "updatedAt":"2022-12-25T05:04:05.119Z","__v":0},
             {"image":{"public_id":"friends/dmlznnxrr4ye5t4uak5o",
             "secure_url":"https://res.cloudinary.com/dwk1rxq7g/image/
             upload/v1671944878/friends/dmlznnxrr4ye5t4uak5o.png"},
             "_id":"63a7daae1aa8ba2b77174dbe","name":"Paula Isabel",
             "lastname":"Baeto Aquino","age":16,"hobbies":"playing video games,
              watching movies","createdAt":"2022-12-25T05:07:59.045Z",
              "updatedAt":"2022-12-25T05:07:59.045Z","__v":0}
              ,{"image":{"public_id":"friends/nvzzf72e9cvehcrn8siz"
              ,"secure_url":"https://res.cloudinary.com/dwk1rxq7g/image
              /upload/v1672066020/friends/nvzzf72e9cvehcrn8siz.jpg"},
              "_id":"63a9b3e4432114535f239306","name":"Ana Isabel ",
              "lastname":"Rondon Rojas","age":19,"hobbies":"Influencer bigo live",
              "createdAt":"2022-12-26T14:47:01.142Z","updatedAt":"2022-12-26T14:47:01.142Z","__v":0},
              {"image":{"public_id":"friends/tggt637jjlp8vj0v6lp0",
              "secure_url":"https://res.cloudinary.com/dwk1rxq7g/image
              upload/v1672066591/friends/tggt637jjlp8vj0v6lp0.gif"},
              "_id":"63a9b61f432114535f23930f","name":"Guillermo Manuel"
              ,"lastname":"Calle pereira","age":17,
              "hobbies":"Code, grow cassava, Barcelona Love","createdAt":
              "2022-12-26T14:56:32.806Z","updatedAt":"2022-12-26T14:56:32.806Z","__v":0},
              {"image":{"public_id":"friends/rav5iarcfj2yi9qtgx7q",
              "secure_url":"https://res.cloudinary.com/dwk1rxq7g/image
              /upload/v1672073695/friends/rav5iarcfj2yi9qtgx7q.jpg"},
              "_id":"63a9d1dfcb8efeb991b9e290","name":"Alexia Alexandra",
              "lastname":"Sepulveda Cartes","age":19,"hobbies":"sleep,
               draw,","createdAt":"2022-12-26T16:54:56.236Z",
              "updatedAt":"2022-12-26T16:54:56.236Z","__v":0},{"image":
              {"public_id":"friends/f334fl8jtfedyfoowdsb",
              "secure_url":"https://res.cloudinary.com/dwk1rxq7g/image/
              upload/v1675636988/friends/f334fl8jtfedyfoowdsb.jpg"},
              "_id":"63e030f9a31eeea5cf3830a1","name":"daniel felipe",
              "lastname":"fernandez rincon","age":27,"hobbies":"la paja,
               ","createdAt":"2023-02-05T22:43:08.535Z","updatedAt":
               "2023-02-05T22:43:08.535Z","__v":0},
               {"image":{"public_id":"friends/ygrenmjqexjnnegr9fun",
               "secure_url":"https://res.cloudinary.com/dwk1rxq7g/image/
               upload/v1675637171/friends/ygrenmjqexjnnegr9fun.jpg"},
               "_id":"63e031b2a31eeea5cf3830a4","name":"ayaniskra lizuardys",
               "lastname":"villamizar coello",
               "age":22,"hobbies":"buscar macho,
                que sean medicos preferiblemente","createdAt":
                "2023-02-05T22:46:11.913Z",
               "updatedAt":"2023-02-05T22:46:11.913Z","__v":0},
               {"image":{"public_id":"friends/e1bzmorj22urete1wl7j",
               "secure_url":"https://res.cloudinary.com/dwk1rxq7g/image/
               upload/v1675682502/friends/e1bzmorj22urete1wl7j.gif"},
               "_id":"63e0e2c63b953fa372a92edd","name":"James roberto ",
               "lastname":"amaya","age":22,"hobbies":"fullStack en web",
               "createdAt":"2023-02-06T11:21:43.157Z","updatedAt":
               "2023-02-06T11:21:43.157Z","__v":0},
               {"image":{"public_id":"friends/qnng8gexixsiolodnyvr",
               "secure_url":"https://res.cloudinary.com/dwk1rxq7g/
               image/upload/v1675952840/friends/qnng8gexixsiolodnyvr.jpg"},

               "_id":"63e502c74ddbecf6a853cdb4",
               "name":"yerson","lastname":"cardozo","age":20,"hobbies":"futbol",
               "createdAt":"2023-02-09T14:27:20.899Z","updatedAt":
               "2023-02-09T14:27:20.899Z","__v":0},
               {"image":{"public_id":"friends/s5pm90c8afp7dlhf19ub",
               "secure_url":"https://res.cloudinary.com/dwk1rxq7g/image/
               upload/v1679444076/friends/s5pm90c8afp7dlhf19ub.gif"},
               "_id":"641a486baf20532adb1a0be1","name":"Jorge Kamilo",
               "lastname":"Peña Silva ","age":19,"hobbies":"Code, play videogames,

                procrastinate  ","createdAt":"2023-03-22T00:14:37.375Z",
                "updatedAt":"2023-03-22T00:14:37.375Z","__v":0},
                {"image":{"public_id":"friends/wdsvcjkgcvcllaat4rzu",
                "secure_url":"https://res.cloudinary.com/dwk1rxq7g/image/
                upload/v1679584517/friends/wdsvcjkgcvcllaat4rzu.jpg"},
                "_id":"641c6d0517971ddbade63b7c","name":"Paula Andrea",

                "lastname":"Hurtado Vega","age":21,"hobbies":"tomar y tomar",
                "createdAt":"2023-03-23T15:15:18.076Z",
                "updatedAt":"2023-03-23T15:15:18.076Z","__v":0},
                {"image":{"public_id":"friends/ytvp7wchivyfolxvxqe9",
                "secure_url":"https://res.cloudinary.com/dwk1rxq7g/
                image/upload/v1681737474/friends/ytvp7wchivyfolxvxqe9.jpg"},
                "_id":"643d4702d254bc6e735dc0f3","name":"Elizabeth Tchaikovsky",
                "lastname":". . . ","age":21,"hobbies":"playing video games,
                 sleeping, squealing","createdAt":"2023-04-17T13:17:55.271Z",
                 "updatedAt":"2023-04-17T13:17:55.271Z","__v":0},
                 {"image":{"public_id":"friends/b7pdvnuif8qztr6kkvrw",
                 "secure_url":"https://res.cloudinary.com/dwk1rxq7g/
                 image/upload/v1681776485/friends/b7pdvnuif8qztr6kkvrw.jpg"},
                 "_id":"643ddf64dd37a0dbf99ceb6e","name":"Ludwing Daniel",
                 "lastname":"Moreno Vargas","age":19,"hobbies"
                 :"playing video games, Futbol, gym bro, code","createdAt":
                 "2023-04-18T00:08:05.682Z","updatedAt":"2023-04-18T00:08:05.682Z",
                 "__v":0},{"image":{"public_id":"friends/jceuuxysezkijoo1sjuw",
                 "secure_url":"https://res.cloudinary.com/dwk1rxq7g/
                 image/upload/v1681782491/friends/jceuuxysezkijoo1sjuw.jpg"},
                 "_id":"643df6db50b29bec41f09114","name":"Mateo David",
                 "lastname":"Silva Cure","age":18,"hobbies":"playing video games, Futbol,
                 ","createdAt":"2023-04-18T01:48:12.066Z","updatedAt":
                 "2023-04-18T01:48:12.066Z","__v":0},
                 {"image":{"public_id":"friends/hsqcunipz4entpadf4zr",
                 "secure_url":"https://res.cloudinary.com/dwk1rxq7g/
                 image/upload/v1683842408/friends/hsqcunipz4entpadf4zr.gif"},
                 "_id":"645d65673ce47144a68d9196","name":"jhan carlos "
                 "lastname":"rueda","age":19,"hobbies":"code",
                 "createdAt":"2023-05-11T22:00:09.000Z",
              "updatedAt":"2023-05-11T22:00:09.000Z","__v":0}]</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>


</div>
