<div class="col-md-4 mx-auto">
    <div class="card text-center">
        <div class="card-header">
            <h3>Nuevo Ticket</h3>
        </div>
        <div class="card-body">
            <form action="/tickets/new-ticket" method="post">

                <div class="form-group">
                    <input type="text" name="nombre" class="form-control" placeholder="Nombre" autofocus required>
                </div>
                <div class="form-group">
                    <input type="text" name="documento" class="form-control" placeholder="Documento" autofocus required>
                </div>
                <div class="form-group">
                     <textarea name="problema" class="form-control" placeholder="Problema" cols="20" rows="3" autofocus required></textarea>
                </div>
                
                <div class="form-group">
                    <button class="btn btn-primary btn-blo">
                        enviar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>