<div class="row ">
    <div class="col-md-4 mx-auto ">
        <div class="card shadow">
            <div class="card-body">
                <h2 class="mx-auto h2salas" style="width: 150px;">SALA DE SISTEMAS</h2>
            </div>
            <img src="https://res.cloudinary.com/dwk1rxq7g/image/upload/v1684095530/backend%20uts/R_aznxtx.png" class="mx-auto d-block m-4 logo">
            <div class="card-body login-form">
                <form action="/user/signin" method="POST">
                    <div class="form-groupDIV">
                        <input type="email" class="form-controlDIV" name="email" placeholder="Correo Electronico">
                    </div>
                    <div class="form-groupDIV">
                        <input type="password" class="form-controlDIV" name="password" placeholder="Contraseña">
                    </div>                   
                <button class="btns ">
                    Iniciar Sesion 
                </button>
                </form>
                <p>No tienes cuenta?
                    <a href="/user/signup" class="text-decoration-none" > <span class="text-primary ">Registrate aqui.</span> </a>
                </p>
            </div>
            
        </div>
    </div>
</div>
<br>